---
title: Changing the port used by Pivotal Anti-Virus Mirror and Pivotal Anti-Virus
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This topic describes how to change the port used by <%= vars.product_full_mirror %> and <%= vars.product_full %>.

##<a id="overview"></a>Overview

1. Navigate to Pivotal Anti-Virus Mirror and change Anti-Virus Mirror Port to the desired port.
2. Navigate to Pivotal Anti-Virus and enter the same desired port into Anti-Virus Port (TODO confirm name)
3. Review Pending Changes, select Pivotal Anti-Virus and Pivotal-Anti-Virus Mirror only.
4. Review Pending Changes, select everything.