---
title: Frequently Asked Questions for ClamAV Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

## <a id='false-positive-clamav'></a>How do I report false positives found by ClamAV?

####Symptom
ClamAV reports a false postive result; a non-malicious file is reported to be a virus.

####Explanation
ClamAV compares files to its database of known malicious patterns. ClavAV may detect a non-malicious file as a virus due to a coincidental similarity to those patterns.

####Solution
Submit false positive reports to <a href="https://www.clamav.net/reports/fp">ClamAV</a>. You can also be subscribe to the ClamAV email list to be kept up-to-date with ClamAV database changes.

## <a id='cpu-spikes-clamav'></a>Why am I getting CPU spikes while using ClamAV?

####Symptom
ClamAV is taking more CPU resources than assigned in its configuration.

####Explanation
ClamAV resource consumption is restricted using CGroups. ClamAV will be resource-limited whenever other processes are active.  However, CGroups 
will still allow ClamAV to occupy more CPU recources when all other processes are idle, as it would not impact their performance.

####Solution
This is expected behavior from CGroups.
