---
title: ClamAV Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to add ClamAV to your Pivotal Cloud Foundry (PCF) deployment.

## <a id="about-clamav"></a>About ClamAV Add-on for PCF

This add-on may be necessary for regulatory purposes if your compliance auditor requires antivirus protection within the PCF environment.

For example, auditors sometimes expect that antivirus protection is present in an environment that must comply with standards such as Payment Card Industry Data Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act (HIPAA).

## <a id='snapshot'></a> Feature Snapshot

The following table provides version and version-support information about the ClamAV Add-on for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.4.5</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 26, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7 or later</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7 or later</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS)<sup>*</sup> version(s)</td>
        <td>v1.7 or later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and Openstack</td>
    </tr>
</table>

##<a id="prereqs"></a>Prerequisites

To install ClamAV Add-on, you need:

* A PCF operator with admin rights.
  For more information, see [Understanding Pivotal Cloud Foundry User Types](https://docs.pivotal.io/pivotalcf/customizing/user-types.html#operator).

* Operations Manager (Ops Manager) v1.7 or later.

* At least 1 GB of memory free on each VM before deploying ClamAV Add-on.
  ClamAV Add-on uses 610 MB of memory. 

* A local mirror to get ClamAV virus updates. 
  For instructions on how to set up a local mirror,
  see [Private Local Mirrors](https://www.clamav.net/documents/private-local-mirrors) in the ClamAV documentation.

  <p class="note"><strong>Note</strong>: Release version <code>x.x.x</code> in the <code>clamav.yml</code> samples below is arbitrary. Replace it with the version of ClamAV release downloaded from PivNet.</p>

##<a id="create-mfest"></a>Create the ClamAV Manifest

The ClamAV manifest is a YML file that contains runtime config information for ClamAV Add-on.
To create the ClamAV manifest for your deployment, follow the instructions below.

###<a id="linux-template"></a> clamav.yml Template for Linux

Create a file named <code>clamav.yml</code> using the following code as a template.

```
releases:
- name: clamav
  version: x.x.x
addons:
- name: clamav
  jobs:
  - name: clamav
    release: clamav
    properties:
      clamav:
        database_mirror: <%= vars.example_ip_1 %>
  include:
    stemcell:
    - os: ubuntu-trusty
```

###<a id="windows-template"></a>clamav.yml Template for Windows

Create a file named <code>clamav.yml</code> using the following code as a template.

```
releases:
- name: clamav
  version: x.x.x
addons:
- name: clamav-windows
  jobs:
  - name: clamav-windows
    release: clamav
    properties:
      clamav:
        database_mirror: <%= vars.example_ip_1 %>
  include:
    stemcell:
    - os: windows2012R2
```

###<a id="general-config"></a> General clamav.yml Template Configuration

1. In the <code>database_mirror</code> field of the template, provide the hostname or IP address of a private ClamAV update mirror.
    Environments that cannot connect to the internet should use an update mirror.
    If you do not specify a value, ClamAV defaults to an S3-based mirror for updates.
    For compliance reasons, only use the S3-based mirror in non-production environments.<br />

    For instructions on how to set up a local mirror, see <a href="https://www.clamav.net/documents/private-local-mirrors">Private Local Mirrors</a> in the ClamAV documentation.

1. (Optional) If you have to use a proxy server to connect to the internet, 
  add the <code>proxy_host</code> and <code>proxy_port</code> properties. 

1. If the proxy server needs authentication, add <code>proxy_user</code> and <code>proxy_password</code> properties. <br><br>
  Replace the example text, indicated below in bold: 

  ```
  releases:
  - name: clamav
      version: x.x.x
  addons:
     - name: clamav
      jobs:
      - name: clamav
          release: clamav
     properties:
       clamav:
          on_access: no
          scheduled: yes
          proxy_host: PROXY.LOCALDOMAIN
          proxy_port: 3128
          proxy_user: CLAMAV
          proxy_password: SECRET
  ...
  ```

##<a id="download"></a> Download ClamAV Add-on

1. Download ClamAV Add-on software binary from the [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon) to your local machine.

2. Copy the software binary to your Ops Manager virtual machine (VM).
  <pre class="terminal">$ scp -i PATH/TO/PRIVATE/KEY clamav-release.tar.gz ubuntu@YOUR-OPS-MANAGER-VM-IP:</pre>

3. Copy the ClamAV manifest, `clamav.yml` file, to your Ops Manager instance.
  <pre class="terminal">$ scp -i PATH/TO/PRIVATE/KEY clamav.yml ubuntu@YOUR-OPS-MANAGER-VM-IP:</pre>

4. SSH into Ops Manager.
  <pre class="terminal">$ ssh -i PATH-TO-PRIVATE-KEY ubuntu@YOUR-OPS-MANAGER-VM-IP</pre>

5. On the Ops Manager VM, navigate to the software binary location.
  <pre class="terminal">$ cd PATH-TO-BINARY</pre>

##<a id='deploy'></a>Deploy the ClamAV Add-on

Perform the following steps to deploy the ClamAV Add-on:

1. Log in to the BOSH Director.
<br><br>
  **For Ops Manager 1.10 or earlier:**

      On the Ops Manager VM, target your BOSH Director instance. For example:
      <pre class="terminal">
      $ bosh target YOUR-OPS-MANAGER-DIRECTOR-IP
      Target set to 'Ops Manager'
      Your username: director
      Enter password: ******************
      Logged in as 'director'
      </pre>
  <br>
  **For Ops Manager 1.11:**
  <ol type="i">
    <li>
      On the Ops Manager VM, create an alias in the BOSH CLI for your BOSH Director IP address. For example:
      <pre class="terminal">$ bosh2 alias-env my-env -e 10.0.0.3</pre>
    </li>
    <li>
      Log in to the BOSH Director, specifying the newly created alias. 
      For example:
      <pre class="terminal">$ bosh2 -e my-env log-in</pre>
    </li>
  </ol>
  <br>
  **For Ops Manager 1.12 or later:**
  <ol type="i">
    <li>
      On the Ops Manager VM, create an alias in the BOSH CLI for your BOSH Director IP address. For example:
      <pre class="terminal">$ bosh alias-env my-env -e 10.0.0.3</pre>
    </li>
    <li>
      Log in to the BOSH Director, specifying the newly created alias. 
      For example:
      <pre class="terminal">$ bosh -e my-env log-in</pre>
    </li>
  </ol>
  <br> 
1. Upload your release, specifying the path to the tarballed ClamAV binary, by running one of the following commands:
 <br><br>
 **For Ops Manager 1.10 or earlier:**
    <pre class="terminal">$ bosh upload release PATH-TO-BINARY/clamav-release.tar.gz</pre>
 <br>
 **For Ops Manager 1.11:**
    <pre class="terminal">$ bosh2 -e my-env upload-release PATH-TO-BINARY/clamav-release.tar.gz</pre>
 <br>
 **For Ops Manager 1.12 or later:**
  <pre class="terminal">$ bosh -e my-env upload-release PATH-TO-BINARY/clamav-release.tar.gz</pre>
    <br>
1. List the releases by running one of the following commands, and confirm that ClamAV appears:
   <br><br>
  **For Ops Manager 1.10 or earlier:**
    <pre class="terminal">$ bosh releases</pre>
   <br> 
    **For Ops Manager 1.11:**
    <pre class="terminal">$ bosh2 -e my-env releases</pre>
   <br> 
    **For Ops Manager 1.12 or later:**
    <pre class="terminal">$ bosh -e my-env releases</pre>
  <br>

1. <a name="update"></a>Update your runtime configuration to include the ClamAV Add-on, specifying the path to the `clamav.yml` file you created above, by running one of the following commands:
  <p class="note"><strong>Note</strong>: If you installed other BOSH add-ons,
    you must merge the ClamAV manifest into your existing add-on manifest. 
    Append the contents of `clamav.yml` to your existing add-on YML file.</p>
  <br>
  **For Ops Manager 1.10 or earlier:**
    <pre class="terminal">$ bosh update runtime-config PATH-TO-YOUR-ADD-ON-YML.yml</pre>
  <br>
  **For Ops Manager 1.11:**
    <pre class="terminal">$ bosh2 -e my-env update-runtime-config --name=clamav PATH-TO-YOUR-ADD-ON-YML.yml</pre>
  <br>
  **For Ops Manager 1.12 or later:**
    <pre class="terminal">$ bosh -e my-env update-runtime-config --name=clamav PATH-TO-YOUR-ADD-ON-YML.yml</pre>
  <br>
1. Verify that your runtime configuration changes match what you specified in the ClamAV manifest by running one of the following commands:
    <br><br>
    **For Ops Manager 1.10 or earlier:**
      <pre class="terminal">$ bosh runtime-config</pre>
    <br>
    **For Ops Manager 1.11:**
     <pre class="terminal">$ bosh2 -e my-env runtime-config</pre>
    <br>
    **For Ops Manager 1.12 or later:**
    <pre class="terminal">$ bosh -e my-env runtime-config</pre>
    <br>
    For Example:
    <pre class="terminal">
    $ bosh -e my-env runtime-config
    Acting as user 'admin' on 'micro'
    releases:
    <span>-</span> name: clamav
       version: 1.0.0
    <br>
    addons:
      name: clamav
        jobs:
         <span>-</span> name: clamav
            release: clamav
    ...
    </pre>

1. Navigate to your Installation Dashboard in Ops Manager.

1. Click **Apply Changes**.

##<a id="alerts"></a> Configure Forwarding for ClamAV Alerts

The ClamAV BOSH release writes all alerts to the syslogs of the VMs in your deployment.
You can use syslog forwarding to forward the alerts to a syslog aggregator.

Follow the steps to <a href="http://docs.pivotal.io/pivotalcf/customizing/cloudform-er-config.html#sys-logging">
    Configure System Logging</a> in the Pivotal Application Service (PAS) or Elastic Runtime tile. 
    The syslog aggregator that you specify receives all alerts generated on PAS (or Elastic Runtime) VMs, including the ClamAV alerts.

<p class="note"><strong>Note</strong>: When you configure syslog forwarding, ensure there is enough disk space for the logs.
   Make sure that log rotation is frequent enough.
   If in doubt, rotate the logs hourly or when they reach a certain size.
   Pivotal recommends forwarding logs to a remote syslog aggregation system.</p>

##<a id="verify"></a>Verify Your ClamAV Add-on Installation

<ol>
<li><a href="https://docs.pivotal.io/pivotalcf/customizing/1-11/trouble-advanced.html#bosh-ssh">BOSH SSH</a> into one of the VMs in your deployment. If you are using PCF v1.11 or later, use the BOSH CLI v1. If you are using PCF v1.10 or earlier, use the BOSH CLI v2.</li>
<li>Run <code>monit summary</code>. Look for the following processes in the output:
<pre class="terminal">The Monit daemon 5.2.4 uptime: 3d 0h 56m
Process 'clamd'                     running<br/>
Process 'freshclam'                 running</pre></li>
<li>If <code>monit summary</code> does not list <code>clamd</code> and <code>freshclamd</code>, do the following:
  <ol>
  <li>Try to start the ClamAV processes by running the following commands:
  <pre class="terminal">
  $ monit start clamd<br>
  $ monit start freshclam</pre></li>
  <li>Run <code>monit summary</code> again. If you do not see the processes mentioned above, check <code>/var/vcap/sys/log/clamav</code> logs for errors.</li>
  </ol>
  <li>If <code>monit summary</code> does list <code>freshclamd</code> and <code>clamd</code>, create a file in <code>/var/vcap</code> on the VM with the following contents:
<pre>
X5O!P%@AP[4\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*
</pre>
This is a virus signature used to test anti-virus software.</li>
</ol>
After `clamdscan` completes, a notification should appear in `/var/log/syslog`. This scan can take up to an hour.

###<a id="format"></a>ClamAV Log Format

ClamAV log format is unstructured. If a virus is detected, the following text is sent to syslog:

<pre>
Jul 11 17:36:35 k2lam76scmb clamd[3022]: SelfCheck: Database status OK
Jul 11 17:42:34 k2lam76scmb clamd[3022]: /bin/infected-file: Eicar-Test-Signature FOUND
</pre>

A generalized format for the logline is:

<pre class="terminal">
clamd[PID]: INFECTED-FILE-PATH: VIRUS-NAME FOUND
</pre>

##<a id="setup-on-access"></a>Enable On-Access Scan
<p class="note"><strong>Note</strong>: On-Access Scan is not supported on Windows.</p>

ClamAV offers immediate file scanning upon file modification. This feature may reduce the time it takes to detect and report malware. 

Enable the feature with the `on_access` runtime config property:
<ol>
<li>In the <code>clamav.yml</code> file, add the `on_access` property under the <code>clamav</code> property, set `on_access` to <code>yes</code>, shown in bold: 
  <pre><code>
  releases:
  <span>-</span> name: clamav
      version: x.x.x
  <br>
  addons:
    name: clamav
      jobs:
        <span>-</span> name: clamav
          release: clamav
      properties:
        clamav:
          <strong>on_access: yes</strong>
          scheduled: yes
  ...
  </code></pre>
</li>
<li>Apply changes by updating your runtime config as described in <a href="#download-deploy">Download and Deploy ClamAV Add-on</a>.</li>
</ol>

##<a id="configure-scheduled-scan"></a>Configure Scheduled Scan

ClamAV can be configured to run a virus scan hourly or daily, with hourly scan being the default.

To change the scheduled scan to run daily:

1. In the `clamav.yml` file, add the property `schedule_interval` under the `clamav` property, and set it to `daily`, as shown below:

   <pre>
   releases:
   <span>-</span> name: clamav
       version: x.x.x
   <br>
   addons:
     name: clamav
        jobs:
          <span>-</span> name: clamav
            release: clamav
       properties:
         clamav:
            <strong>schedule\_interval: daily</strong>
            scheduled: yes
   ...
  </pre>
2. Apply changes by updating your runtime config as described in <a href="#download-deploy">Download and Deploy ClamAV Add-on</a>.

##<a id="disable-scheduled-scan"></a>Disable Scheduled Scan

To disable the scheduled scan, do the following:
<ol>
<li>In the <code>clamav.yml</code> file, set the property <code>scheduled</code> to <code>no</code>.</li>
<li>Apply changes by updating your runtime config as described in <a href="#download-deploy">Download and Deploy ClamAV Add-on</a>.</li>
</ol>

##<a id="quarantine"></a>Choose the Action on Infected Files

You can configure ClamAV to take action when infected files are found. 
By default, a notification is sent to the syslog when an infected file is found. 
However, you can specify other actions, as described [in step 2 below](#step2).

1. In the <code>clamav.yml</code> file, add the <code>action</code> property under the <code>clamav</code> property and,
    optionally, the <code>action_destination</code> property, shown in bold:
        
        
        releases:
        - name: clamav
            version: x.x.x

        addons:
          name: clamav
            jobs:
              - name: clamav
                release: clamav
            properties:
              clamav:
                action: <strong>ACTION</strong>
                action_destination: <strong>PATH</strong>
        ...
        

1. Replace <code>ACTION</code> with one of the following values:<a id="step2"></a>
  * <code>notify</code>: The default, only send a notification to syslog
  * <code>remove</code>: Delete the infected file from the filesystem
  * <code>move</code>: Move the infected file to the directory location specified by `action_destination`
  * <code>copy</code>: Copy the infected file to the directory location specified by `action_destination`

    If you don't supply an action, the function fails.

1. Replace <code>PATH</code> with the directory location where you want the infected files moved or copied to.
    The system does not scan the moved-to or copied-to location.
    If the directory path is not valid, the function fails.<br/>
    <br>
    Example configuration:

    ```
    releases:
    - name: clamav
        version: x.x.x

    addons:
      name: clamav
        jobs:
          - name: clamav
            release: clamav
        properties:
          clamav:
            action: move
            action_destination: /var/vcap/data/clamav/found
      ...
    ```  
