---
title: ClamAV Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic is an overview of ClamAV Add-on for Pivotal Cloud Foundry (PCF).

## <a id="about-clamav"></a>About ClamAV Add-on for PCF

The ClamAV Add-on might be necessary for regulatory purposes if your compliance
auditor requires antivirus protection within your PCF environment.

For example, auditors sometimes expect that antivirus protection is present in
an environment that must comply with standards such as Payment Card Industry Data
Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act (HIPAA).

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about the ClamAV Add-on for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.4.45</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>MMMM DD, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>2.3, 2.4, 2.5, and 2.6</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>2.3, 2.4, 2.5, and 2.6</td>
    </tr>
    <tr>
        <td>Compatible Enterprise Pivotal Container Service (Enterprise PKS) versions</td>
        <td>1.2 and later</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu Xenial and Trusty and Windows 2016</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>

This version of the ClamAV Add-on is compatible with Canonical Ubuntu 16.04 (Xenial) stemcells.

##<a id="features"></a> Features
  * Ability to scan VMs and containers for foundations with PAS and Enterprise PKS.
  * Supports scheduled scans to reduce workload during peak operation hours.
  * Allows whitelisting of known signatures.
  * Allows you to configure CPU and memory usage limits on VMs of the foundation.

##<a id="feedback"></a> Feedback

If you have a feature request, questions, or information about an issue, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io)
