---
title: Installing and Configuring ClamAV Mirror for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This topic describes how to install and configure ClamAV Mirror for Pivotal Cloud Foundry (PCF).
Pivotal recommends that you install this tile before installing <%= vars.product_short %>.

##<a id="overview"></a>Overview

If you do not have an external mirror for ClamAV jobs to fetch database updates from,
you can deploy one using the ClamAV Mirror for PCF.

This deployed internal mirror can support air-gapped environments as well as networked environments:

* **Online Network:** You can deploy the ClamAV internal mirror as a proxy.
  This acts as a database for the virus definitions if the online virus database experiences downtime.
* **Air-gapped Network:** Because there is no access to an outside network,
  the internal ClamAV mirror VM acts as the server for the virus definitions.


If you have already deployed an external mirror, you can use that instead of
installing this tile, and continue to [Installing and Configuring ClamAV for PCF](./install.html).

##<a id="prereqs"></a>Prerequisites

To install ClamAV Mirror for PCF, you must have:

* **A PCF operator with admin rights**.
For more information, see [Operators](https://docs.pivotal.io/pivotalcf/customizing/user-types.html#operator).

* **PCF Operations Manager (Ops Manager)**.
For compatible versions, see the [Product Snapshot](./index.html#snapshot).

* **At least 1&nbsp;GB of memory free on each VM**.
This is so that you can install the <%= vars.product_short %> tile after deploying this mirror.
ClamAV for PCF uses 610&nbsp;MB of memory.

## <a id='install-mirror'></a> Install ClamAV Mirror for PCF

To install the ClamAV Mirror for PCF tile:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon).
  * For air-gapped networks, follow your company's offline installation protocols.
      For more information, see [Installing PCF in Airgapped Environments](https://docs.pivotal.io/pivotalcf/customizing/offline_installation.html).

1. Navigate to the Ops Manager Installation Dashboard and select **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of ClamAV Mirror for PCF.
This adds the tile to your staging area.

1. Click the newly added **ClamAV Mirror for PCF** tile.

## <a id='azs'></a> Assign AZs and Networks

To assign availability zones (AZs) and networks:

1. Select **Assign AZs and Networks**.
![Assign AZs and Networks](mirror-assign-azs.png)

1. Configure the fields as follows:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select an AZ. If you choose to install only one ClamAV Mirror VM,
            this is the AZ that it is placed in.</td>
      </tr>
      <tr>
        <td><strong>Balance other jobs in</strong></td>
        <td>Select one or more AZs.
            If you choose to install more than one ClamAV Mirror VM,
            these are the AZs that the VMs are placed in.</td>
      </tr>
      <tr>
        <td><strong>Network</strong></td>
        <td>Select a subnet for the <code>clamav_mirror</code> VM.
          <br>This is typically the same subnet that
          includes the Pivotal Application Service (PAS) component VMs.</td>
      </tr>
    </table>

1. Click **Save**.

## <a id='configure-mirror'></a> Configure ClamAV Mirror for PCF
To configure ClamAV Mirror for PCF:

1. Select **ClamAV Mirror Configuration**.
<%# TODO Chris: Verify Name %>
![ClamAV Mirror Configuration](mirror-configure.png)

1. Configure the fields as follows:

    <table>
      <tr><th>Field</th><th>Instructions</th></tr>
      <tr>
        <td><strong>Log output destination</strong></td>
        <td>
          Select the file descriptor to forward your logs through:<br>
          <ul>
            <li><strong>stdout</strong>: sends messages to <code>/var/vcap/sys/log/clamav-mirror/clamav-mirror.stdout.log</code></li>
            <li><strong>stderr</strong>: sends messages to <code>/var/vcap/sys/log/clamav-mirror/clamav-mirror.stderr.log</code></li>
            <li><strong>syslog</strong>: sends messages to <code>/var/log/messages</code></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Mirror for Automatic Database Updates</strong></td>
        <td>
          <ul>
            <li><strong>No mirror</strong>: Select this for air-gapped environments, or if you want to control the database versions available to your environment</li>
            <li><strong>Official mirror (database.clamav.net)</strong>: Select this to have the mirror fetch databases from database.clamav.net</li>
            <li><strong>Existing mirror</strong>: Select this to enter a list of hostnames or IPs of mirrors</li>
          </ul>
        </td>
      </tr>
    </table>

    <p class="note"><strong>Note: </strong> The ClamAV Mirror for PCF serves
      virus definitions to your environment for ClamAV for PCF to use,
      but the ClamAV Mirror needs to get databases itself.
      You can configure the ClamAV Mirror to get virus definitions using the
      supported options in <strong>Mirror for Automatic Database Updates</strong> above.
    </p>

1. Click **Save**.

  <%# TODO Dylan: less verbose things with tile field updates %>

1. (Optional) If you selected **Official mirror (database.clamav.net)** or **Existing mirror** in the previous section,
 you can configure a proxy for the ClamAV Mirror to retrieve the databases from.
 To do this:

  1. Select **HTTP Proxy Configuration**.
  ![HTTP Proxy Configuration for ClamAV Mirror Jobs](mirror-http-proxy.png)

  1. Set **HTTP proxy to get database updates** to **Enabled**.

  1. Enter the **host**, **port**, **username**, and **password** in the fields that appear.

  1. Click **Save**.

##<a id="syslog"></a> Configure System Logging
Follow the steps below to enable system logging for ClamAV Mirror.

1. Select **Syslog**.
![Syslog](mirror-syslog.png)

1. Select **Yes** for **Do you want to configure Syslog forwarding?**.
1. Configure the fields as follows:
  <table>
    <tr><th>Field</th><th>Instructions</th></tr>
    <tr>
        <td><strong>Address</strong></td>
        <td>Enter the address or host of the syslog server for sending logs, for example,
            <code>logmanager.example.com</code>.</td></tr>
    <tr><td><strong>Port</strong></td>
        <td>Enter the port of the syslog server for sending logs, for example, <code>29279</code>.</td></tr>
    <tr><td><strong>Transport Protocol</strong></td>
        <td>Select the transport protocol used to send system logs to the server. Pivotal recommends using TCP.</td></tr>
    <tr><td><strong>Enable TLS</strong></td>
    <td>If you select TCP, you can also select to send logs encrypted over TLS.</td></tr>
    <tr><td><strong>Permitted Peer</strong></td>
        <td>Enter either the accepted fingerprint, in SHA1, or the name of the remote peer, for example, <code>*.example.com</code></td></tr>
    <tr><td><strong>SSL Certificate</strong></td>
        <td>Enter the SSL or TLS Certificate(s) for the syslog server. This ensures the logs are transported securely.</td></tr>
  </table>

1. Click **Save**.

## <a id="scale-deployed-mirror"></a> Scale the Number of Deployed Mirrors

ClamAV jobs do load balancing for you.

Pivotal recommends one ClamAV Mirror VM for every 250 VMs with ClamAV installed.
To scale the number of deployed mirrors:

  1. Select **Resource Config**.

    ![Resource Config](mirror-resource-config.png)

  1. For `clamav-mirror`, set **INSTANCES** to the number of mirrors that you want to deploy.

  1. Click **Save**.


## <a id="apply-changes-mirror"></a> Apply Changes from Your Configuration

Your ClamAV Mirror installation is not complete until you apply your configuration changes.
To do this:

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**.
1. Unselect all products except **BOSH Director** and **ClamAV Mirror for PCF** and click **Apply Changes**.
1. After **Apply Changes** is complete, if you selected **No Mirror**, upload a set of virus definitions
to your deployed `clamav-mirrors`.
To do this, see [Updating Virus Definitions](./updating-databases.html).
