---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for ClamAV Add-on for PCF.

## <a id="1112"></a> v1.5.0

**Release Date: MONTH XX, 2018**
 
### Features

New features and changes in this release:

* 

* 

### Security Fixes

This release includes the following security fixes:

* 
* 

### Fixed Issues

This release fixes the following issue:

* 

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
dropdown at the top of this page.
