---
title: Anti-Virus for VMware Tanzu Release Notes
owner: MAPBU Cryogenics (originally owned by Platform Security & Compliance Team)
---
<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

## Releases

### <a id="2-4-x"></a> v2.4.x

**Release date: MMM DD, YYYY**

#### Maintenance changes

* **Run-in header:** Description

#### Known issues

There are no known issues for this release.


### <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from the drop-down menu at the top of
this page.
