---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for <%= vars.product_full %> (formerly known as ClamAV Add-on for PCF).

## <a id="2-2-0"></a> v2.2.0

**Release Date: MMMM DD, YYYY**

### Features

New features and changes in this release:

  * **CPU limit** for <%= vars.product_short %> is now configured independently of the **Enforce CPU limit** field.
  When you upgrade to v2.2 from v2.1.6 or earlier, the value of **CPU limit** is reset to
  the installation default of XX%.<br>
  For instructions on setting the **CPU limit**, see [Configure Anti-Virus](./install.html#configure).

### Security Fixes

This release includes the following security fixes:

  *

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
