---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for ClamAV Add-on for PCF.

## v1.2.7 (GA)

**Release Date:** July 25, 2017

ClamAV Add-on for PCF:

* Sets ScanHTML to no if both Scheduled and On-access Scans are enabled to avoid deleted file conflicts
* This is a GA release, supported for production use



## v1.2.1 (Beta)

**Release Date:** June 26, 2017

ClamAV Add-on for PCF:

* ClamAV works in offline environment
* Configurable whether to notify (default), isolate or delete a virus
* Note: Choose only one of the two options, Scheduled scanning (default) or On-access scanning (off by default)

## v1.1.6 (Beta)

**Release Date:** March 30, 2017

ClamAV Add-on for PCF:

* Improved implementation of cgroups to work with diego
* Cgroup memory and cpu limits are configurable

  ```
  properties:
    clamav.memory_limit: <Memory limit in bytes>
    clamav.cpu_limit: <CPU limit (percentage)>
  ```
* Allows downloading of the ClamAV database through an HTTP proxy server
* 
<p class="note"><strong>Note</strong>: when upgrading from previous release, run "bosh deploy --recreate"</p>

Known issues in this release:

* There is an intermittent issue with files being locked and not released when On-access scanning and Scheduled scanning are both enabled. To avoid this issue, only enable either On-access or Scheduled scanning, not both. 

## v1.0.29 (Beta)

**Release Date:** February 12, 2017

ClamAV Add-on for PCF:

* Bundles the clamav-0.99.2 distribution
* Restricts ClamAV resource use to 20% of CPU, 1GB of memory for stability
* Note: this release may cause a conflict with diego during startup and we recommend using 1.16 (Beta) or a more recent release

## View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.



