---
title: Uninstalling ClamAV Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to uninstall ClamAV from your deployment, and how to verify the uninstallation.

## <a id='uninstall-clamav'></a>Uninstall ClamAV Add-on

1. Retrieve the latest runtime config.
  <pre class="terminal">
    $ bosh runtime-config > PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>

2. In the runtime config, remove all ClamAV properties under the `releases:` and `addons:` sections.

3. Update the runtime config.
  <pre class="terminal">
    $ bosh update runtime-config PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>

4. Navigate to your **Installation Dashboard** in Ops Manager.
5. Click **Apply Changes**.
6. Wait for the installation to complete.

## <a id='verify-uninstall'></a>Verify the Uninstallation

<ol>
<li><a href="https://docs.pivotal.io/pivotalcf/customizing/1-11/trouble-advanced.html#bosh-ssh">BOSH SSH</a> into one of the VMs in your deployment. If you are using PCF v1.11 or later, use the BOSH CLI v1. If you are using PCF v1.10 or earlier, use the BOSH CLI v2.</li>

<li>Run <code>monit summary</code>. If ClamAV has uninstalled successfully, it should not show <code>clamd</code> or <code>freshclam</code> processes.
</ol>
