---
title: Updating Virus Definitions on Deployed ClamAV Mirrors
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This section contains the procedure to update the virus definitions on a private
ClamAV mirror deployed by ClamAV Mirror for PCF.

##<a id="assume"></a>Update Virus Definitions

ClamAV jobs use three virus definitions files, `main.cvd`, `daily.cvd`, and `bytecode.cvd`.
The ClamAV mirror deployment serves these three files to all ClamAV jobs in your environment.

To update the virus definitions, complete the following procedure:

1. Download the three virus definition files from the ClamAV virus
database mirror or an equivalent mirror.
To download the virus definitions from the offical mirror, use the following URLs:
    * http://database.clamav.net/main.cvd
    * http://database.clamav.net/daily.cvd
    * http://database.clamav.net/bytecode.cvd

1. Copy your downloaded virus definition files to your Ops Manager VM.

    ```
    scp -i PATH-TO-PRIVATE-KEY PATH-TO-CVD-FILE ... ubuntu@OPS-MANAGER-VM-IP:
    ```

    For example:

    <pre class="terminal">$ scp -i ~/.ssh/my-key.pem ~/Downloads/main.cvd ~/Downloads/daily.cvd ~/Downloads/bytecode.cvd ubuntu<span>@</span>192.168.0.2: </pre>

1. SSH into the Ops Manager VM.
   For instructions, see [SSH into Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).

1. Find the name of your ClamAV mirror deployment by running the following command:

    ```
    bosh -e BOSH-ENVIRONMENT deployments | grep p-clamav-mirror | cut -f1
    ```

    For example:

    <pre class="terminal">$ bosh -e my-env deployments | grep p-clamav-mirror | cut -f1</pre>

    The deployment name starts with `p-clamav-mirror-` and is followed by a string of characters.

    For example:

    <pre class="terminal">$ p-clamav-mirror-08815ca5ead252c4b8d8</pre>


1. Copy the virus definitions to your ClamAV mirror deployment by running the following command:

    ```
    bosh -e BOSH-ENVIRONMENT -d CLAMAV-DEPLOYMENT-NAME scp /path/to/local/main.cvd /path/to/local/daily.cvd /path/to/local/bytecode.cvd :/var/vcap/data/clamav_mirror/unvalidated
    ```

    For example:

    <pre class="terminal">$ bosh -e my-env -d p-clamav-mirror-4cb8cfbeee717258d72e scp main.cvd daily.cvd bytecode.cvd :/var/vcap/data/clamav_mirror/unvalidated</pre>

1. Verify that the mirror validated and updated its local copies of the virus
    definitions by running the following command:

    ```
    bosh -e BOSH-ENVIRONMENT -d CLAMAV-DEPLOYMENT-NAME ssh -c "sudo cat FILE | grep \"updated /var/vcap/store\""
    ```

    Where `FILE` is determined by the output destination configured in
    [Configure ClamAV Mirror for PCF](./install.html#configure-mirror).
    * `/var/vcap/sys/log/clamav-mirror/clamav-mirror.stdout.log` for stdout
    * `/var/vcap/sys/log/clamav-mirror/clamav-mirror.stderr.log` for stderr
    * `/var/log/messages` for syslog

    For example:

    <pre class="terminal">
    $ bosh -e my-env -d p-clamav-mirror-4cb8cfbeee717258d72e ssh -c "sudo cat /var/log/messages | grep \"updated /var/vcap/store\""

    2019/05/30 17:16:34 updated /var/vcap/store/clamav-mirror/validated/bytecode.cvd
    2019/05/30 17:16:40 updated /var/vcap/store/clamav-mirror/validated/daily.cvd
    2019/05/30 17:16:49 updated /var/vcap/store/clamav-mirror/validated/main.cvd
    </pre>
