---
title: Updating ClamAV Add-on for PCF to Run with PAS for Windows v2.3
owner: Security Engineering
---

<strong><%= modified_date %></strong>

Read this topic if you use Pivotal Application Service for Windows (PAWS).

This topic describes how to update your runtime config to add the new Windows stemcell version. 

<p class="note breaking"><strong>Breaking Change:</strong> If you upgrade to PASW v2.3,
you must update your runtime config to include the new Windows stemcell.
Otherwise, the PASW VMs will not be protected by ClamAV.</p>

##<a id="renamed"></a>Windows Stemcell Renamed

The new Windows stemcell name indicates the _stemcell_ version instead of the _Windows Server_ version.

<table>
  <tr>
    <th>PASW version</th>
    <th>Stemcell name</th>
    <th>Stemcell version</th>
    <th>Windows Server version</th>
  </tr>
  <tr>
    <td>2.2 and earlier</td>
    <td><code>windows2016</code></td>
    <td>1709</td>
    <td>2016</td>
  </tr>
  <tr>
    <td>2.3 and later</td>
    <td><code>windows1803</code></td>
    <td>1803</td>
    <td>2016</td>
  </tr>
</table>

For general information about stemcells and PASW, see [PAS for Windows v2.3 Release
Notes](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/windows-rn.html#known-issues).

##<a id="add"></a> Add the windows1803 Stemcell to the ClamAV Add-on

To add the `windows1803` stemcell property to the runtime config, do the following.

1. SSH into the Ops Manager VM.
   For how to do this, see [SSH into Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).

2. To retrieve and save the ClamAV add-on runtime config, run the following command:

    ```
    bosh -e BOSH-ENVIRONMENT runtime-config –name clamav > /tmp/clamav.yml
    ```

    Where `BOSH-ENVIRONMENT` is the alias you set for the BOSH Director.

    For example:

    <pre class="terminal">$ bosh2 -e my-env runtime-config –name clamav > /tmp/clamav.yml </pre> 


3. Edit the `clamav.yml` file to add `- os: windows1803` under 
    `stemcell` in the `clamav-windows` section, as shown below:

    ```
    addons:
    - name: clamav-windows
      jobs:
      - name: clamav-windows
        release: clamav
        properties:
          clamav:
            database_mirror: <%= vars.example_ip_1 %>
      include:
        stemcell:
        - os: windows2012R2
        - os: windows2016
        - os: windows1803
    ```

4. To update the runtime config, run the following command:

    ```
    bosh2 -e BOSH-ENVIRONMENT update-runtime-config --name=clamav /tmp/clamav.yml
    ```

    For example:

    <pre class="terminal">bosh2 -e my-env update-runtime-config --name=clamav /tmp/clamav.yml</pre> 

5. Navigate to the Installation Dashboard in Ops Manager
   and do the following to complete the installation:

    1. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**.
    For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).<br><br>

    1. Click **Apply Changes**.

