---
title: Upgrading from ClamAV Addon 1.x to 2.x
owner: Pivotal Compliance and Innovation (PCI) Team
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the ClamAV Add-on for PCF from version 1.x, which uses runtime configs.

## <a id='upgrade-clamav'></a>Upgrade ClamAV Add-on
To upgrade the ClamAV Add-on, follow the steps below:

1. Retrieve the latest runtime config by running the following command:
  <pre>
    bosh -e my-env runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG
  </pre>

    Where `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location that you want to save the runtime configuration.

    For example:
    <pre class="terminal">
      $ bosh -e my-env runtime-config > /runtime/config/
    </pre>

1. In the runtime config, remove all ClamAV properties under the `releases:` and `addons:` sections.

1. Update the runtime config.
  <pre>
    bosh -e my-env update-runtime-config --name=clamav PATH-TO-SAVE-THE-RUNTIME-CONFIG
  </pre>

    Where `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location of the runtime configuration you are updating.

    For example:
    <pre class="terminal">
      $ bosh -e my-env update-runtime-config --name=clamav /runtime/config/
    </pre>

1. Go to [Installing and Configuring ClamAV for PCF](./install.html) and follow the instructions to set up the ClamAV tile.
