---
title: Upgrading ClamAV Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the ClamAV Add-on for PCF.

##<a id="assume"></a>Compatibility and Prerequisites

See the following topics to ensure you have the required component versions and prerequisites:

* [Product Snapshot](./index.html#snapshot)
<<<<<<< HEAD
* [Prerequisites](./installing.html#prereqs)
=======
* [Prerequisites](./install.html#prereqs)
>>>>>>> v1.4


##<a id="upgrade"></a>Upgrade ClamAV Add-on for PCF</a>

To upgrade the ClamAV add-on to a later version, do the following:

1. Download the ClamAV add-on software binary
   from the [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon) to your local machine.

2. To copy the software binary to your Ops Manager VM, run the following command:

    ```
    scp -i PATH-TO-PRIVATE-KEY clamav-VERSION.tar.gz ubuntu@YOUR-OPS-MANAGER-VM-IP:
    ```

    For example:

    <pre class="terminal">$ cp -i ~/.ssh/my-key.pem ~/Downloads/clamav-1.4.34.tgz ubuntu<span>@</span>192.168.0.2: </pre>

3. SSH into the Ops Manager VM.
   For instructions, see [SSH into Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).

4. Retrieve the latest runtime config by running the following command:
    <br><br>
    ```
    bosh -e BOSH-ENVIRONMENT runtime-config  --name clamav > PATH-TO-SAVE-THE-RUNTIME-CONFIG
    ```

    <br>For example:

    <pre class="terminal">bosh -e my-env runtime-config  --name clamav > /tmp/clamav.yml</pre>

5. Upload the ClamAV release to BOSH. This is the release that you downloaded from Pivotal Network above.
    <br><br>
    ```
    bosh -e BOSH-ENVIRONMENT upload-release PATH-TO-NEW-CLAMAV-RELEASE
    ```

    <br>For example:

    <pre class="terminal">bosh -e my-env upload-release ~/clamav-1.4.34.tgz</pre>

6. Edit the clamav runtime config to set the new release version. This version should match the version you downloaded from Pivotal Network.

     <br>For example, edit the version in `/tmp/clamav.yml` as follows:
     <pre>
     releases:
     \- name: clamav, version: <strong>1.4.34</strong> </pre>

7. Update the runtime config:<br><br>

    ```
    bosh -e BOSH-ENVIRONMENT update-runtime-config --name=clamav PATH-TO-SAVE-THE-RUNTIME-CONFIG
    ```

    <br>For example:

    <pre class="terminal">bosh -e my-env update-runtime-config --name=clamav /tmp/clamav.yml </pre>

8. Navigate to your Ops Manager **Installation Dashboard**.

9. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**.
   For more information about this Ops Manager page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

10. Click **Apply Changes**.
